.btn {
  // Reset & Estrutura Base
  display: flex;
  align-items: var(--align-items-center);
  justify-content: var(--justify-content-center);
  cursor: pointer;
  border: 2px transparent;
    width: 127px;
  height: var(--control-height);
  border-radius: var(--border-radius-l); 
  &--primary {
    background-color: var(--color-primary); 
    color: var(--color-neutral-0);

    &:hover {
      background-color: #fff;
      border: 2px solid var(--color-primary);
      color: var(--color-primary);
    }
  }

  &--secondary {
    background-color: #fff;
    border: 2px solid var(--color-primary);
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-neutral-0);
    }
  }

  &--tertiary {
    background-color: #E9ECEF;
    color: rgba(0, 0, 17, 0.75);
    border: none;
  }
}