* { box-sizing: border-box; }

body {
  margin: 0;
  background: var(--color-background-body);
  font-family: Raleway, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--color-text-main);
  padding: 0;
}

ul { margin: 0; padding: 0; list-style: none; }
h1,h2,h3,p { margin: 0; }