//NAVBAR CSS
.navbar {
  display: var(--display-flex); //sem valor absoluto
  flex-direction: var(--flex-direction-column); //sem valor absoluto
  background-color: var(--color-primary);
  width: 112px;
  height: 100vh;
  border-radius: var(--border-radius-xl); //sem valor absoluto

  &__top {
    display: var(--display-flex); //sem valor absoluto
    justify-content: var(--justify-content-space-between); //sem valor absoluto
    align-items: var(--align-items-center); //sem valor absoluto
    padding: var(--spacing-base);
  }

  &__logo {
    width: 36px;
    height: 30px;
  }

  &__toggle {
    width: 24px;
    height: 24px;
    border: none; //sem valor absoluto
    background: transparent; //sem valor absoluto
    color: #E9ECEF;//var(--color-text-primary);

    &:hover {
      opacity: var(--opacity-hover);
    }

    &:active {
      opacity: var(--opacity-active);
    }
  }

  &__menu {
    flex: 1;
    display: var(--display-flex); //sem valor absoluto
    border-radius: var(--border-radius-xl);
    flex-direction: var(--flex-direction-column); //sem valor absoluto
  }

  &__buttons {
    display: var(--display-flex); //sem valor absoluto
    flex-direction: var(--flex-direction-column); //sem valor absoluto
    align-items: var(--align-items-center); //sem valor absoluto
    flex: 1; //sem valor absoluto
    gap: var(--spacing-xl); //sem valor absoluto
    margin-top: var(--spacing-xl);
  }

  &__defbutton {
    margin-top: auto; //sem valor absoluto
    display: var(--display-flex); //sem valor absoluto
    justify-content: var(--justify-content-center); //sem valor absoluto
    padding-bottom: var(--spacing-l);
  }

  &__button {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: 0;
    width: 48px;
    height: 48px;
    border-radius: 11px;

    &--active {
      background-color: #00113333;
      border: 0;
      padding: 0;
      margin: 0;
      line-height: 0;
      width: 48px;
      height: 48px;
      border-radius: 11px;
    }

    &:hover {
      background-color: #00113333;
    }
  }
}